.card-1 {
  border-top: 5px solid #ff4f64;
  background-color: #ffffff;
  margin-left: 20px;
  width: 250px;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.tech-bg-container {
  background-color: #f4faff;
  height: 100vh;
}
.main-heading {
  font-family: Roboto;
  color: #171f46;
  text-align: center;
  font-weight: bold;
}
.main-description {
  font-family: Roboto;
  color: #171f46;
  text-align: center;
  font-size: 13px;
}
.bg-card-container {
}

.card-heading {
  font-family: Roboto;
  font-size: 17px;
  color: #171f46;
}
.card-description {
  font-family: Roboto;
  font-size: 10px;
  color: #64748b;
}
.card-img {
  height: 8vh;
}
